@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --text-color-1: #667085;
  --text-color-2: #8E2424;
  --text-color-3: #101828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

/* Barra de navegação */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.links a {
  color: var(--text-color-1);
  text-decoration: none;
  margin-right: 2rem;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--text-color-1);
  font-size: 0.9rem;
}

button#signUp {
  background-color: #8E2424;
  color: #FFF;
}

/* Seção Sobre */
.about {
  text-align: center;
  margin-top: 70px;
}
.about h4 {
  color: #8E2424;
}

.about p {
  color: #667085;
  font-size: 20px;
  margin-top: 30px;
}

.about h1 {
  font-size: 45px;
  color: #101828;
}

/* Métricas */
.metricas {
  display: flex;
  margin-top: 65px;
}

.content {
  margin: 0 auto 10px;
  max-width: 200px;
}


.content h1 {
  text-align: left;
  color: #8E2424;
  font-size: 45px;
}

.content h4 {
  white-space: nowrap;
  text-align: left;
  color: #101828;
  margin-top: 15px;
}

.content p {
  text-align: left;
  color: #667085;
  margin-top: 10px;
  font-size: 15px;
  white-space: pre;
}

/* Vagas */

.vagas {
  margin-top: 70px;
}

.hire {
  text-align: center;
}

.hire h5 {
  color: #8E2424;
  background-color: #f9f4f4;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: inline;
  margin-top: 60px;
  font-weight: 600;
}

.hire h1 {
  color: #101828;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.hire p {
  color: var(--text-color-1);
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

#myimg img {
  align-items: center;
  margin: auto;
  display: block;
}